<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
  <% @articles.each do |art| %>
    <h1><%= art.title %></h1>
    <p><%= art.content %></p>
  <% end %>
  </body>
</html>