<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <title><title</title>
    </head>
    <body>
      <h1>Articles</h1>
      <p>
        <form method="post" action="/articles">
          <label for="article[title]">Article Name</label>
          <input type="text" id="title" name="article[title]"></>
          <label for="article[content]">Article Content</label>
          <input type="text" id="content" name="article[content]"></>
          <input type="submit" value="Submit">
        </form>
      </p>
    </body>

</html>
