<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <form method="post" action="/articles">
    <p>Enter the title:</p>
    <textarea name="title"></textarea>
    <br>
    <p>Enter the content:</p>
    <textarea name="content"></textarea>
    <button type="submit" value="submit">Submit</button>
  </form>
  
  </body>
</html>