
<form action="/articles" method="post">
      <p> title: <input id="title" type="text" name="title"></P>
    
      
      <p>< content : <input id="content" type="text" name="content"></P>
      
  <input type="submit" value="Submit">
</form>











<%# <form action="article" method="post">
<p> title: <input type="Text" name="title">></p>
<p> content: <input type="Text" name="content"></p>
<input type="submit" value="Submit">


</form> %>